@import "keyFrames.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game {
  animation-play-state: paused;
   /* width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/Background.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 25s linear infinite;
    animation-play-state: paused;
    overflow: hidden;*/
  }

  .coinAndPoint{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
  }

 .coinImage{
    width: 4%;
  }


  .points{
    color: white;
    font-size: 125%;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
  }

  .time{
    position: absolute;
    display: flex;
    top: 25px;
    margin-left: 12px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
  }


  .player{

    transform: scale(1.7 );
    background-size: cover;
    position: absolute;
    top: 78%;
    left: 10%;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 103px;
    background: url(../assets/Wizard/Idle.png) repeat-x left;
    animation: stay 1s steps(6) infinite;
  }

  .idle{
    transform: scale(1.7 );
    background-size: cover;
    position: absolute;
    top: 78%;
    left: 10%;
    display: flex;
    justify-content: center;
    width: 73px;
    height: 103px;
    background: url(../assets/Wizard/Idle.png) repeat-x left;
    animation: stay 1s steps(6) infinite;
  }

.running{

     background: url("../assets/Wizard/Run.png") repeat-x left;
     animation: run 0.9s steps(8) infinite; 
}
 
.jump{
    background: url("../assets/Wizard/Jump.png") no-repeat;
    animation: jump steps(1), up 1.2s 1;  
}


.enemigo{

  width: 5vw;
  height: 3vw;
  position: absolute;
  bottom: 65px;
  left: 592px;
  z-index: 1;
  background: url(../assets/BatIdleMoving.png) no-repeat;
  background-size: 16vw;
  animation: movingEnemies 0.5s steps(3) infinite;

}


.coin{

  display: flex;
  width: 47px;
  height: 47px;
  position: absolute;
  bottom: 65px;
  left: 592px;
  z-index: 1;
  background: url(../assets/coins.png) no-repeat;
  background-size: 294px;
  animation: movingCoins 0.65s steps(6) infinite;

}

